api:
  dashboard: true
  debug: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: commodus@tutanota.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: defense-net
  file:
    filename: "/traefik/dynamic.yml"
    watch: true

accessLog:
  filePath: "/logs/access.json"
  format: json
  fields:
    headers:
      defaultMode: keep
    names:
      ClientUsername: drop
  bufferingSize: 100

log:
  level: INFO
  filePath: "/logs/traefik.json"
  format: json

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true

experimental:
  localPlugins:
    defense-middleware:
      moduleName: github.com/hebetude/defense-middleware